<?php
return [
    'debug' => true,
    'database' => [
        'host' => 'localhost',
        'username' => '',
        'password' => '',
        'database' => 'version_warner'
    ],
    // Configuration for Swiftmailer
    // see https://silex.symfony.com/doc/2.0/providers/swiftmailer.html
    'email' => [
        'options' => [
            'host' => 'mail.domain.tld',
            'port' => 587,
            'username' => 'versions@domain.tld',
            'password' => 'secret',
            // 'tls', 'ssl' or null
            'encryption' => 'tls',
            // 'plain', 'login', 'cram-md5' or null
            'auth_mode' => 'plain'
        ],
        'sender_address' => 'versions@domain.tld',
        // Send all messages here. For debug
        'delivery_addresses' => [
            // 'debug@domain.tld'
        ]
    ]
];