{# Set variables #}

{% set notificationNames = [] %}
{% for notification in notifications %}
    {% set notificationNames = notificationNames|merge([notification.title]) %}
{% endfor %}

{# Begin HTML #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
    <style type="text/css">
        {% include 'style/main.css' %}
    </style>
</head>
<body>

    <div class="main">
        <h1>New Version{{ not notifications|length == 1 ? 's' }} for {{ notifications|join(',') }}</h1>

        <p>
            The Version Warner has detected
            {% if notification|length == 1 %}
                a new version for
            {% else %}
                new versions for
            {% endif %}
        </p>

    </div>

</body>
</html>